.with-pointer {
  cursor: pointer;
}
.icon-social {
  background-color: #212121;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  color: white;
}
label.required::after {
  content: ' *';
  color: #FF5252;
}
label[disabled]{
  pointer-events: none;
}