.calendar {
  width: 400px;
}
.calendar__date {
  padding: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36px, 1fr));
  grid-gap: 10px;
}
.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}
.calendar__day:nth-child(7) {
  color: #ff685d;
}
.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  color: #262626;
}
.calendar__number:nth-child(7n) {
  color: #4caf50;
  font-weight: 700;
  background-color: white !important;
  border: 1px solid #4caf50;
}
.calendar__number--current {
  background-color: #009688;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
  border-radius: 32px;
}
